{#<!DOCTYPE html>#}
{#<html lang="ru">#}
{#<head>#}
{#    <title>Главная</title>#}
{#    <style>#}
{#        .center {#}
{#            display: flex;#}
{#            justify-content: center;#}
{#            align-items: center;#}
{#            height: 100vh;#}
{#        }#}
{#    </style>#}
{#</head>#}
{#<body>#}
{#<div class="center">#}
{#    <button><a href="/services">Записаться</a></button>#}
{#</div>#}
{#</body>#}
{#</html>#}